In [2]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [54]:
# Read in the covid world data
worldData = pd.read_csv('Data/owid-covid-data.csv')

# Path to sqlite
database_path = "Data/COVID_Data.db"

# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")

In [ ]:
# Query All Records in the the Database
data = engine.execute("SELECT * FROM icecreamstore")

for i in data:
    print(i)

In [55]:
#Remove scientific notation
pd.options.display.float_format = '{:.2f}'.format

In [56]:
#Summing all columns by filter 

continent = worldData.groupby(['continent']).sum()
location = worldData.groupby(['location']).sum()
date = worldData.groupby(['date']).sum()


#Further querying for relevent columns

cStats = continent[['total_cases', 'new_cases' , 'total_deaths' , 'new_deaths']]
cStats
lStats = location[['total_cases', 'new_cases' , 'total_deaths' , 'new_deaths']]
lStats
dStats = date[['total_cases', 'new_cases' , 'total_deaths' , 'new_deaths']]
lStats

                     total_cases    new_cases  total_deaths  new_deaths
location
Afghanistan          58588493.00    174339.00    2552442.00     7622.00
Africa             3204841388.00  11254551.00   79384040.00   248969.00
Albania              70902248.00    272030.00    1174101.00     3478.00
Algeria              83540466.00    265227.00    2363443.00     6853.00
Andorra               7933979.00     38434.00      69474.00      151.00
...                          ...          ...           ...         ...
Wallis and Futuna      160319.00       454.00       2338.00        7.00
World             98827745775.00 443975063.00 2006841133.00  5969463.00
Yemen                 3492081.00     11776.00     720863.00     2135.00
Zambia               74258843.00    313744.00    1152273.00     3958.00
Zimbabwe             46061622.00    239025.00    1405534.00     5397.00

[238 rows x 4 columns]

In [57]:


# dataframe.column.nunique()

ttp = cStats.iloc[0]



ttp

total_cases    3204841388.00
new_cases        11254551.00
total_deaths     79384040.00
new_deaths         248969.00
Name: Africa, dtype: float64