In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import datetime
import json

# Table, Column, Integer, String, MetaData, ForeignKey

In [2]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///./Data/COVID_Data.db")
conn = engine.connect()

#Verify that the database is connected and get table names for reference
inspector = inspect(engine)
inspector.get_table_names()

['usa_data', 'world_data']

In [3]:
#Verify column names for queries and future use
columns = inspector.get_columns('world_data')
column_names = []
for c in columns:
    column_names.append(c['name'])
    print(c['name'], c["type"])
column_names

iso_code TEXT
continent TEXT
location TEXT
date DATE
total_cases INTEGER
new_cases INTEGER
total_deaths INTEGER
new_deaths INTEGER
reproduction_rate DECIMAL
icu_patients INTEGER
hosp_patients INTEGER
new_tests INTEGER
total_tests INTEGER
positive_rate DECIMAL
tests_units INTEGER
total_vaccinations INTEGER
people_vaccinated INTEGER
new_vaccinations INTEGER
stringency_index DECIMAL
population INTEGER
population_density DECIMAL
median_age DECIMAL
gdp_per_capita DECIMAL

['iso_code',
 'continent',
 'location',
 'date',
 'total_cases',
 'new_cases',
 'total_deaths',
 'new_deaths',
 'reproduction_rate',
 'icu_patients',
 'hosp_patients',
 'new_tests',
 'total_tests',
 'positive_rate',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'new_vaccinations',
 'stringency_index',
 'population',
 'population_density',
 'median_age',
 'gdp_per_capita']

In [37]:
#get the parameters to run test (not used in final product)
countries = ["AL","AK","AR", "AS","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"],
continents = []
date_start = input("Start Date MM/DD/YYYY: ")
date_start_dt = datetime.datetime.strptime(date_start, '%Y-%m-%d').date()
date_end = input("End Date MM/DD/YYYY: ")
date_end_dt = datetime.datetime.strptime(date_start, '%Y-%m-%d').date()
country_select = input("country ID: ")
continent_select = input("continent ID: ")
print(type(date_start))

# startDate: 2020/02/24 endDate: 2020/03/05 countryCode: France continentCode: Europe

<class 'str'>

In [6]:
# engine.execute(f"SELECT DISTINCT continent, total_cases, new_cases , total_deaths , new_deaths FROM world_data").fetchall()

In [36]:
# engine.execute(f"SELECT DISTINCT location , total_cases, new_cases , total_deaths , new_deaths FROM world_data").fetchall()

In [37]:
# engine.execute(f"SELECT date, total_cases, new_cases , total_deaths , new_deaths FROM world_data").fetchall()

In [38]:
#create placeholders for continent data
continent_cases = []
continent_new = []
continent_tot_deaths = []
continent_new_death = []

In [39]:
#run queries for continent data
#total cases by day
continent_cases_query = engine.execute(f"SELECT total_cases FROM world_data WHERE continent = '{continent_select}' AND date BETWEEN '{date_start}' AND '{date_end}'").fetchall()
for continent in continent_cases_query:
    continent_cases.append(continent[0])
continent_cases

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 1,
 1,
 1,
 1,
 2,
 2,
 3,
 3,
 9,
 14,
 18,
 21,
 29,
 41,
 1,
 1,
 1,
 1,
 1,
 6,
 6,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 8,
 13,
 23,
 50,
 2,
 1,
 3,
 3,
 5,
 6,
 7,
 7,
 9,
 10,
 10,
 3,
 3,
 5,
 8,
 12,
 '',
 '',
 '',
 1,
 1,
 3,
 4,
 4,
 6,
 10,
 10,
 '',
 '',
 '',
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 3,
 1,
 1,
 3,
 3,
 4,
 4,
 5,
 8,
 9,
 10,
 10,
 14,
 20,
 12,
 14,
 18,
 38,
 57,
 100,
 130,
 191,
 212,
 288,
 426,
 16,
 17,
 27,
 46,
 48,
 79,
 130,
 159,
 196,
 262,
 482,
 1,
 1,
 1,
 3,
 4,
 4,
 7,
 7,
 7,
 9,
 31,
 '',
 2,
 2,
 1,
 1,
 3,
 6,
 11,
 26,
 34,
 1,
 1,
 1,
 2,
 6,
 6,
 229,
 322,
 453,
 655,
 888,
 1128,
 1694,
 2036,
 2502,
 3089,
 3858,
 '',
 '',
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 '',
 '',
 '',
 '',
 '',
 1,
 1,
 1,
 1,
 1,
 1,
 '',
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 10,
 18,
 24,
 38,
 82,
 128,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 15,
 19,
 25,
 32,
 56,
 87,
 1,
 1,
 '',
 2,
 2,
 5,
 8,
 1,
 1,
 3,
 3,
 3,
 3,
 3,
 4,
 6,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 4,
 1,
 1,
 1,
 9,
 9,
 16,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 2,
 2,
 6,
 13,
 15,
 32,
 45,
 84,
 120,
 165,
 222,
 259,
 1,
 1,
 2,
 3,
 11,
 14,
 14,
 19,
 32,
 62,
 87,
 1,
 1,
 8,
 8,
 18,
 27,
 42,
 56,
 90,
 114,
 1,
 1,
 1,
 30,
 34,
 37,
 44,
 56,
 61,
 94,
 134,
 189,
 245,
 294]

In [40]:
#create placeholders for country data
country_cases = []
country_new = []
country_tot_deaths = []
country_new_death = []

In [41]:
#run queries for country data
#total cases by day
country_cases_query = engine.execute(f"SELECT total_cases FROM world_data WHERE location = '{country_select}' AND date BETWEEN '{date_start}' AND '{date_end}'").fetchall()
for country in country_cases_query:
    country_cases.append(country[0])
country_cases

[12, 14, 18, 38, 57, 100, 130, 191, 212, 288, 426]

In [44]:
#new continent cases by day
continent_newcases_query = engine.execute(f"SELECT new_cases FROM world_data WHERE continent = '{continent_select}' AND date BETWEEN '{date_start}' AND '{date_end}'").fetchall()
for continent in continent_newcases_query:
    continent_new.append(continent[0])
continent_new

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 6,
 5,
 4,
 3,
 8,
 12,
 1,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 6,
 5,
 10,
 27,
 2,
 1,
 2,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 0,
 3,
 0,
 2,
 3,
 4,
 '',
 '',
 '',
 1,
 0,
 2,
 1,
 0,
 2,
 4,
 0,
 '',
 '',
 '',
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 3,
 1,
 1,
 0,
 4,
 6,
 0,
 2,
 4,
 20,
 19,
 43,
 30,
 61,
 21,
 76,
 138,
 0,
 1,
 10,
 19,
 2,
 31,
 51,
 29,
 37,
 66,
 220,
 1,
 0,
 1,
 2,
 1,
 0,
 3,
 0,
 0,
 2,
 22,
 '',
 2,
 0,
 1,
 0,
 2,
 3,
 5,
 15,
 8,
 1,
 0,
 0,
 1,
 4,
 0,
 74,
 93,
 131,
 202,
 233,
 240,
 566,
 342,
 466,
 587,
 769,
 '',
 '',
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 '',
 '',
 '',
 '',
 '',
 1,
 0,
 0,
 0,
 0,
 0,
 '',
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 5,
 4,
 8,
 6,
 14,
 44,
 46,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 5,
 9,
 4,
 6,
 7,
 24,
 31,
 1,
 0,
 '',
 2,
 0,
 3,
 3,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 8,
 0,
 7,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 2,
 0,
 4,
 7,
 2,
 17,
 13,
 39,
 36,
 45,
 57,
 37,
 0,
 0,
 1,
 1,
 8,
 3,
 0,
 5,
 13,
 30,
 25,
 1,
 0,
 7,
 0,
 10,
 9,
 15,
 14,
 34,
 24,
 1,
 0,
 0,
 2,
 4,
 3,
 7,
 12,
 5,
 33,
 40,
 55,
 56,
 49]

In [45]:
#new country cases by day
country_newcases_query = engine.execute(f"SELECT new_cases FROM world_data WHERE location = '{country_select}' AND date BETWEEN '{date_start}' AND '{date_end}'").fetchall()
for country in country_newcases_query:
    country_new.append(country[0])
country_new

[0, 2, 4, 20, 19, 43, 30, 61, 21, 76, 138]

In [46]:
#total continent deaths by day
continent_totdeaths_query = engine.execute(f"SELECT total_deaths FROM world_data WHERE continent = '{continent_select}' AND date BETWEEN '{date_start}' AND '{date_end}'").fetchall()
for continent in continent_totdeaths_query:
    continent_tot_deaths.append(continent[0])
continent_tot_deaths

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 4,
 4,
 7,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 7,
 10,
 12,
 17,
 21,
 29,
 34,
 52,
 79,
 107,
 148,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 1,
 1,
 1,
 1,
 1,
 1,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 1,
 2,
 3,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [47]:
#total country deaths by day
country_totdeaths_query = engine.execute(f"SELECT total_deaths FROM world_data WHERE location = '{country_select}' AND date BETWEEN '{date_start}' AND '{date_end}'").fetchall()
for country in country_totdeaths_query:
    country_tot_deaths.append(country[0])
country_tot_deaths

[1, 1, 2, 2, 2, 2, 2, 3, 4, 4, 7]

In [49]:
#new continent deaths by day
continent_newdeaths_query = engine.execute(f"SELECT new_deaths FROM world_data WHERE continent = '{continent_select}' AND date BETWEEN '{date_start}' AND '{date_end}'").fetchall()
for continent in continent_newdeaths_query:
    continent_new_death.append(continent[0])
continent_new_death

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 3,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 4,
 3,
 2,
 5,
 4,
 8,
 5,
 18,
 27,
 28,
 41,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 1,
 0,
 0,
 0,
 0,
 0,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 1,
 1,
 1,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 3,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 4,
 3,
 2,
 5,
 4,
 8,
 5,
 18,
 27,
 28,
 41,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 1,
 0,
 0,
 0,
 0,
 0,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 1,
 1,
 1,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [50]:
#new country deaths by day
country_newdeaths_query = engine.execute(f"SELECT new_deaths FROM world_data WHERE location = '{country_select}' AND date BETWEEN '{date_start}' AND '{date_end}'").fetchall()
for country in country_newdeaths_query:
    country_new_death.append(country[0])
country_new_death

[0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 3]

In [ ]:
#take lists and create dictionary for JSON output
i = 0
curr_date = date_start_dt - datetime.timedelta(days = 1)
output = []
#match the day data into a dictionary
while i < len(state_cases):
    #get the date
    curr_date = curr_date + datetime.timedelta(days = 1)
    str_date  = str(curr_date)
    print(curr_date)
    #build the dictionary
    data_dict = {
        'date': str_date,
        'total_cases': state_cases[i],
        'new_cases': state_new[i],
        'total_deaths': state_tot_deaths[i],
        'new_deaths': state_new_death[i]
    }
    #append to file
    output.append(data_dict)
    i=i+1
output

In [50]:
# Query All Records in the the Database
# data = pd.read_sql("SELECT * FROM world_data", conn)
# data.head()

# data['continent\n'].unique()
# continents = pd.read_sql("SELECT continent\n FROM world_data", conn)
# continents

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,positive_rate,tests_units,total_vaccinations,people_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,gdp_per_capita
0,AFG,Asia,Afghanistan,2020-02-24,5,5,,,,,...,,,,,,8.33,39835428,54.422,18.6,1803.99
1,AFG,Asia,Afghanistan,2020-02-25,5,0,,,,,...,,,,,,8.33,39835428,54.422,18.6,1803.99
2,AFG,Asia,Afghanistan,2020-02-26,5,0,,,,,...,,,,,,8.33,39835428,54.422,18.6,1803.99
3,AFG,Asia,Afghanistan,2020-02-27,5,0,,,,,...,,,,,,8.33,39835428,54.422,18.6,1803.99
4,AFG,Asia,Afghanistan,2020-02-28,5,0,,,,,...,,,,,,8.33,39835428,54.422,18.6,1803.99

In [ ]:
#Remove scientific notation
# pd.options.display.float_format = '{:.2f}'.format

In [ ]:
#Summing all columns by filter 

# continent = worldData.groupby(['continent']).sum()
# location = worldData.groupby(['location']).sum()
# date = worldData.groupby(['date']).sum()


#Further querying for relevent columns

# cStats = continent[['total_cases', 'new_cases' , 'total_deaths' , 'new_deaths']]
# cStats
# lStats = location[['total_cases', 'new_cases' , 'total_deaths' , 'new_deaths']]
# lStats
# dStats = date[['total_cases', 'new_cases' , 'total_deaths' , 'new_deaths']]
# lStats

                     total_cases    new_cases  total_deaths  new_deaths
location
Afghanistan          58588493.00    174339.00    2552442.00     7622.00
Africa             3204841388.00  11254551.00   79384040.00   248969.00
Albania              70902248.00    272030.00    1174101.00     3478.00
Algeria              83540466.00    265227.00    2363443.00     6853.00
Andorra               7933979.00     38434.00      69474.00      151.00
...                          ...          ...           ...         ...
Wallis and Futuna      160319.00       454.00       2338.00        7.00
World             98827745775.00 443975063.00 2006841133.00  5969463.00
Yemen                 3492081.00     11776.00     720863.00     2135.00
Zambia               74258843.00    313744.00    1152273.00     3958.00
Zimbabwe             46061622.00    239025.00    1405534.00     5397.00

[238 rows x 4 columns]

In [ ]:


# dataframe.column.nunique()

# ttp = cStats.iloc[0]



# ttp

total_cases    3204841388.00
new_cases        11254551.00
total_deaths     79384040.00
new_deaths         248969.00
Name: Africa, dtype: float64